/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/* Colors */

:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
    --color-primary-red: #fc5c65;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}
